<!DOCTYPE html>
<ui:composition template="/templates/layout.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

	<!-- Título de la página -->
	<ui:define name="tituloPagina">
		<h:outputLabel value="Parámetros" styleClass="headerPagina"></h:outputLabel>
	</ui:define>

	<!-- Contenido de la página -->
	<ui:define name="contenido">
		<h:form id="frmDatatable">
			<p:commandButton id="btnNuevo" value="Nuevo" icon="fa fa-floppy-o" update=":dlgCrud, :frmDialogo" styleClass="newButton marginNewButton" action="#{parametroControlador.abrirModal}" title="Agregar nuevo parámetro" rendered="false">
				<f:setPropertyActionListener value="Agregar nuevo" target="#{parametroControlador.parametroBB.textoDialogo}"></f:setPropertyActionListener>
				<f:setPropertyActionListener value="#{true}" target="#{parametroControlador.parametroBB.isNuevo}"></f:setPropertyActionListener>
			</p:commandButton>
			<p:growl id="growlDatatable" life="2000" />
			<p:dataTable id="dtParametro" var="parametro" value="#{parametroControlador.parametroBB.listaParametros}" rowIndexVar="index" styleClass="lista" paginator="true" paginatorPosition="bottom" rows="15" rowsPerPageTemplate="15,20,25">
				<!-- Header de la tabla: -->
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText="#" width="5%" />
						<p:column headerText="Código" width="15%" filterBy="#{parametro.codigo}" filterMatchMode="contains" />
						<p:column headerText="Nombre" width="25%" filterBy="#{parametro.nombre}" filterMatchMode="contains" />
						<p:column headerText="Tipo Parámetro" filterBy="#{parametro.tipoParametro.nombre}" filterMatchMode="contains" />
						<p:column headerText="Valor Parámetro" width="20%" />
						<p:column headerText="Estado" width="10%" />
						<p:column headerText="Acciones" width="12%" />
					</p:row>
				</p:columnGroup>

				<!-- Cuerpo de la tabla: -->
				<p:column>
					<h:outputText value="#{index + 1}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{parametro.codigo}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{parametro.nombre}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{parametro.tipoParametro.nombre}"></h:outputText>
				</p:column>
				<p:column styleClass="estiloIzquierda">
					<h:outputText value="#{parametro.valorFecha}" rendered="#{parametro.valorFecha != null}">
						<f:convertDateTime pattern="dd-MM-yyyy" />
					</h:outputText>
					<h:outputText value="#{parametro.valorHora}" rendered="#{parametro.valorHora != null}">
						<f:convertDateTime pattern="hh:mm"></f:convertDateTime>
					</h:outputText>
					<h:outputText value="#{parametro.valorEntero}" rendered="#{parametro.valorEntero != null}">
						<f:convertNumber pattern="#"></f:convertNumber>
					</h:outputText>
					<h:outputText value="#{parametro.valorDecimal}" rendered="#{parametro.valorDecimal != null}">
						<f:convertNumber pattern="#.##"></f:convertNumber>
					</h:outputText>
					<h:outputText value="#{parametro.valorTexto}" rendered="#{parametro.valorTexto != null}" />
				</p:column>
				<p:column>
					<h:outputText value="#{parametro.estado? 'Activo' : 'Inactivo'}"></h:outputText>
				</p:column>
				<p:column>
					<p:commandButton id="btnEditar" icon="fa fa-pencil" update=":dlgCrud" styleClass="editButton" action="#{parametroControlador.abrirModal}" title="Editar parámetro">
						<f:setPropertyActionListener value="Editar" target="#{parametroControlador.parametroBB.textoDialogo}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{false}" target="#{parametroControlador.parametroBB.isNuevo}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{parametro}" target="#{parametroControlador.parametroBB.parametro}"></f:setPropertyActionListener>
					</p:commandButton>
					<p:commandButton id="btnActivarDesactivar" icon="fa fa-power-off" update=":dlgActivarDesactivar,frmDatatable:growlDatatable" styleClass="#{parametroControlador.parametroBB.activarDesactivar(parametro.estado)}" oncomplete="PF('dialogoConfirmacion').show();" title="#{parametro.estado? 'Desactivar' : 'Activar'} parámetro" rendered="false">
						<f:setPropertyActionListener value="#{parametro.estado? 'desactivar' : 'activar'}" target="#{parametroControlador.parametroBB.textoActivarDesactivar}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{parametro}" target="#{parametroControlador.parametroBB.parametro}"></f:setPropertyActionListener>
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
		<ui:include src="modal.xhtml" />
	</ui:define>
</ui:composition>
