<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<p:dialog id="dlgCrud" header="#{parametroControlador.parametroBB.textoDialogo} parámetro" widgetVar="dialogoCrud" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false">
	<h:form id="frmDialogo">
		<p:growl id="growlDialogo" life="2000" />
		<p:panelGrid id="gridModal">
			<p:row>
				<p:column>
					<p:outputLabel for="tipoParametro" value="Tipo Parámetro:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:selectOneMenu id="tipoParametro" value="#{parametroControlador.parametroBB.codigoTipoParametro}" required="true" disabled="#{!parametroControlador.parametroBB.isNuevo}">
						<f:selectItems value="#{parametroControlador.parametroBB.listaTiposParametros}"></f:selectItems>
						<p:ajax listener="#{parametroControlador.comprobarRenderizacionCampo(parametroControlador.parametroBB.codigoTipoParametro)}" update="@form"></p:ajax>
					</p:selectOneMenu>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="codigo" value="Código:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="codigo" value="#{parametroControlador.parametroBB.parametro.codigo}" required="true" disabled="#{!parametroControlador.parametroBB.isNuevo}" maxlength="20"/>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="nombre" value="Nombre:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="nombre" value="#{parametroControlador.parametroBB.parametro.nombre}" required="true" maxlength="250"/>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="descripcion" value="Descripción:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<div>
						<p:inputTextarea id="descripcion" value="#{parametroControlador.parametroBB.parametro.descripcion}" maxlength="500" counter="contadorDescripcion" counterTemplate="{0} caracteres restantes."></p:inputTextarea>
					</div>
					<p:outputLabel id="contadorDescripcion" styleClass="counterTextArea" />
				</p:column>
			</p:row>

			<p:row rendered="#{parametroControlador.parametroBB.isTipoFecha}">
				<p:column>
					<p:outputLabel for="valorFecha" value="Fecha:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:calendar id="valorFecha" value="#{parametroControlador.parametroBB.parametro.valorFecha}" pattern="dd-MM-yyyy" required="true"></p:calendar>
				</p:column>
			</p:row>

			<p:row rendered="#{parametroControlador.parametroBB.isTipoHora}">
				<p:column>
					<p:outputLabel for="valorHora" value="Hora:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:calendar id="valorHora" value="#{parametroControlador.parametroBB.parametro.valorHora}" pattern="HH:mm" timeOnly="true" required="true"></p:calendar>
				</p:column>
			</p:row>

			<p:row rendered="#{parametroControlador.parametroBB.isTipoEntero}">
				<p:column>
					<p:outputLabel for="valorEntero" value="Entero:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputNumber id="valorEntero" value="#{parametroControlador.parametroBB.parametro.valorEntero}" decimalPlaces="0" decimalSeparator="0" required="true"></p:inputNumber>
				</p:column>
			</p:row>

			<p:row rendered="#{parametroControlador.parametroBB.isTipoDecimal}">
				<p:column>
					<p:outputLabel for="valorDecimal" value="Decimal:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputNumber id="valorDecimal" value="#{parametroControlador.parametroBB.parametro.valorDecimal}" maxValue="99999999.99" required="true"></p:inputNumber>
				</p:column>
			</p:row>

			<p:row rendered="#{parametroControlador.parametroBB.isTipoTexto}">
				<p:column>
					<p:outputLabel for="valorTexto" value="Texto:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="valorTexto" value="#{parametroControlador.parametroBB.parametro.valorTexto}" required="true"></p:inputText>
				</p:column>
			</p:row>

			<p:row>
				<p:column colspan="2" styleClass="estiloDerecha">
					<p:commandButton styleClass="#{parametroControlador.parametroBB.isNuevo ? 'newButton' : 'editButton'}" id="guardarFrm" value="Guardar" update="growlDialogo,gridModal,:frmDatatable" action="#{parametroControlador.guardar()}"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

<p:dialog id="dlgActivarDesactivar" header="Activar/Desactivar registro" widgetVar="dialogoConfirmacion" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false" width="25%">
	<h:form id="frmDialogoConfirmacion">
		<p:panelGrid id="gridModalConfirmacion">
			<p:row>
				<p:column colspan="2">
					<h:outputText value="¿Estás seguro de #{parametroControlador.parametroBB.textoActivarDesactivar} el registro?"></h:outputText>
				</p:column>
			</p:row>
			<p:row>
				<p:column styleClass="estiloCentrado">
					<p:commandButton styleClass="onButton" value="Si" update=":frmDatatable" action="#{parametroControlador.activarDesactivarRegistro}" oncomplete="PF('dialogoConfirmacion').hide();"></p:commandButton>
				</p:column>
				<p:column styleClass="estiloCentrado">
					<p:commandButton styleClass="offButton" value="No" oncomplete="PF('dialogoConfirmacion').hide();"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

</html>
