<!DOCTYPE html>
<ui:composition template="/templates/layout.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

	<!-- Título de la página -->
	<ui:define name="tituloPagina">
		<h:outputLabel value="Horarios" styleClass="headerPagina"></h:outputLabel>
	</ui:define>

	<!-- Contenido de la página -->
	<ui:define name="contenido">
		<h:form id="frmDatatable">
			<p:commandButton id="btnReasignar" value="Reasignar Horas" icon="fa fa-repeat" update=":frmDialogoReasignacion" styleClass="newButton marginNewButton" oncomplete="PF('dialogoReasignacion').show()" rendered="#{horarioControlador.horarioBB.periodoActivo}" disabled="#{!horarioControlador.sesionBB.codigoPerfil.equals('TIP_PER_DOC')}" />
			<p:commandButton id="btnIniciar" value="Iniciar Período Académico" icon="fa fa-check" update="frmDialogoInicioPeriodo" styleClass="newButton marginNewButton" oncomplete="PF('dialogoInicioPeriodo').show()" rendered="#{!horarioControlador.horarioBB.periodoActivo}">
				<f:setPropertyActionListener value="#{null}" target="#{horarioControlador.horarioBB.codigoPeriodo}"></f:setPropertyActionListener>
				<f:setPropertyActionListener value="#{null}" target="#{horarioControlador.horarioBB.descripcionPeriodo}"></f:setPropertyActionListener>
			</p:commandButton>
			<p:commandButton id="btnCerrar" value="Cerrar Período Académico" icon="fa fa-times" update="@all" styleClass="offButton marginNewButton" action="#{horarioControlador.cerrarPeriodo()}" rendered="#{horarioControlador.horarioBB.periodoActivo}" disabled="#{!horarioControlador.sesionBB.codigoPerfil.equals('TIP_PER_DOC')}" />
			<p:dataTable id="dtHorario" var="horario" value="#{horarioControlador.horarioBB.horario}" rowIndexVar="index" styleClass="horario">
				<!-- Header de la tabla: -->
				<p:columnGroup type="header">
					<p:row>
						<p:column colspan="2" headerText="Hora" />
						<p:column rowspan="2" headerText="Lunes" width="17%" />
						<p:column rowspan="2" headerText="Martes" width="17%" />
						<p:column rowspan="2" headerText="Miercoles" width="17%" />
						<p:column rowspan="2" headerText="Jueves" width="17%" />
						<p:column rowspan="2" headerText="Viernes" width="17%" />
					</p:row>
					<p:row>
						<p:column headerText="Entrada" />
						<p:column headerText="Salida" />
					</p:row>
				</p:columnGroup>

				<!-- Cuerpo de la tabla: -->
				<p:column>
					<h:outputText value="#{horario.horaEntrada}" />
				</p:column>
				<p:column>
					<h:outputText value="#{horario.horaSalida}" />
				</p:column>
				<p:column>
					<p:commandButton value="Ver: #{horario.lunes.size()} de #{horarioControlador.sesionBB.alumnosPorHora}" styleClass="#{horarioControlador.rangoPersonas(horario.lunes.size())}" style="width: 100%;" icon="fa #{horarioControlador.iconoPorRangoPersonas(horario.lunes.size())}" action="#{horarioControlador.cargarDatosModelo()}" update=":dlgCrud">
						<f:setPropertyActionListener value="#{horario}" target="#{horarioControlador.horarioBB.hora}" />
						<f:setPropertyActionListener value="#{horarioControlador.horarioBB.lunes}" target="#{horarioControlador.horarioBB.codigoDia}" />
						<f:setPropertyActionListener value="#{horario.lunes}" target="#{horarioControlador.horarioBB.personas}" />
					</p:commandButton>
				</p:column>
				<p:column>
					<p:commandButton value="Ver: #{horario.martes.size()} de #{horarioControlador.sesionBB.alumnosPorHora}" styleClass="#{horarioControlador.rangoPersonas(horario.martes.size())}" style="width: 100%;" icon="fa #{horarioControlador.iconoPorRangoPersonas(horario.martes.size())}" action="#{horarioControlador.cargarDatosModelo()}" update=":dlgCrud">
						<f:setPropertyActionListener value="#{horario}" target="#{horarioControlador.horarioBB.hora}" />
						<f:setPropertyActionListener value="#{horarioControlador.horarioBB.martes}" target="#{horarioControlador.horarioBB.codigoDia}" />
						<f:setPropertyActionListener value="#{horario.martes}" target="#{horarioControlador.horarioBB.personas}" />
					</p:commandButton>
				</p:column>
				<p:column>
					<p:commandButton value="Ver: #{horario.miercoles.size()} de #{horarioControlador.sesionBB.alumnosPorHora}" styleClass="#{horarioControlador.rangoPersonas(horario.miercoles.size())}" style="width: 100%;" icon="fa #{horarioControlador.iconoPorRangoPersonas(horario.miercoles.size())}" action="#{horarioControlador.cargarDatosModelo()}" update=":dlgCrud">
						<f:setPropertyActionListener value="#{horario}" target="#{horarioControlador.horarioBB.hora}" />
						<f:setPropertyActionListener value="#{horarioControlador.horarioBB.miercoles}" target="#{horarioControlador.horarioBB.codigoDia}" />
						<f:setPropertyActionListener value="#{horario.miercoles}" target="#{horarioControlador.horarioBB.personas}" />
					</p:commandButton>
				</p:column>
				<p:column>
					<p:commandButton value="Ver: #{horario.jueves.size()} de #{horarioControlador.sesionBB.alumnosPorHora}" styleClass="#{horarioControlador.rangoPersonas(horario.jueves.size())}" style="width: 100%;" icon="fa #{horarioControlador.iconoPorRangoPersonas(horario.jueves.size())}" action="#{horarioControlador.cargarDatosModelo()}" update=":dlgCrud">
						<f:setPropertyActionListener value="#{horario}" target="#{horarioControlador.horarioBB.hora}" />
						<f:setPropertyActionListener value="#{horarioControlador.horarioBB.jueves}" target="#{horarioControlador.horarioBB.codigoDia}" />
						<f:setPropertyActionListener value="#{horario.jueves}" target="#{horarioControlador.horarioBB.personas}" />
					</p:commandButton>
				</p:column>
				<p:column>
					<p:commandButton value="Ver: #{horario.viernes.size()} de #{horarioControlador.sesionBB.alumnosPorHora}" styleClass="#{horarioControlador.rangoPersonas(horario.viernes.size())}" style="width: 100%;" icon="fa #{horarioControlador.iconoPorRangoPersonas(horario.viernes.size())}" action="#{horarioControlador.cargarDatosModelo()}" update=":dlgCrud">
						<f:setPropertyActionListener value="#{horario}" target="#{horarioControlador.horarioBB.hora}" />
						<f:setPropertyActionListener value="#{horarioControlador.horarioBB.viernes}" target="#{horarioControlador.horarioBB.codigoDia}" />
						<f:setPropertyActionListener value="#{horario.viernes}" target="#{horarioControlador.horarioBB.personas}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
		<ui:include src="modal.xhtml" />
	</ui:define>
</ui:composition>
