<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<p:dialog id="dlgCrud" header="Asociar alumnos al horario" widgetVar="dialogoCrud" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false">
	<h:form id="frmDialogo">
		<p:growl id="growlDialogo" life="2000" />
		<div class="estiloDerecha">
			<p:commandButton id="btnPermisos" value="Permisos" icon="fa fa-calendar" styleClass="newButton marginNewButton" title="Registrar Permiso" update=":dlgPermisos" oncomplete="PF('dialogoPermisos').show()" disabled="#{!horarioControlador.sesionBB.codigoPerfil.equals('TIP_PER_DOC')}">
				<f:setPropertyActionListener value="#{null}" target="#{horarioControlador.horarioBB.idPersona}"></f:setPropertyActionListener>
				<f:setPropertyActionListener value="#{false}" target="#{horarioControlador.horarioBB.esJustificada}"></f:setPropertyActionListener>
			</p:commandButton>
		</div>
		<p:panelGrid id="gridModal">
			<p:row>
				<p:column>
					<p:pickList id="seleccionPersonas" value="#{horarioControlador.horarioBB.asociacion}" var="asociacion" itemLabel="* #{asociacion.nombre} #{asociacion.apellido}" itemValue="#{asociacion}" showSourceFilter="true" showTargetFilter="true" effect="bounce" converter="personaConverter">
						<f:facet name="sourceCaption">Disponible</f:facet>
						<f:facet name="targetCaption">Actual</f:facet>
					</p:pickList>
				</p:column>
			</p:row>

			<p:row>
				<p:column styleClass="estiloDerecha">
					<p:commandButton styleClass="newButton" id="guardarFrm" value="Guardar" update="growlDialogo,gridModal,:frmDatatable" action="#{horarioControlador.guardarHorario()}"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

<p:dialog id="dlgPermisos" header="Registrar permiso" widgetVar="dialogoPermisos" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false">
	<h:form id="frmDialogoPermisos">
		<p:growl id="growlDialogo" life="2000" />
		<p:panelGrid id="gridModal">
			<p:row>
				<p:column>
					<p:outputLabel for="persona" value="Alumno:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:selectOneMenu id="persona" value="#{horarioControlador.horarioBB.idPersona}" required="true" filter="true" filterMatchMode="contains">
						<f:selectItems value="#{horarioControlador.horarioBB.listaPersonas}"></f:selectItems>
					</p:selectOneMenu>
				</p:column>
			</p:row>

			<p:row>
				<p:column>
					<p:outputLabel for="esJustificada" value="Es Justificada:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:selectBooleanCheckbox id="esJustificada" value="#{horarioControlador.horarioBB.esJustificada}" />
				</p:column>
			</p:row>

			<p:row>
				<p:column styleClass="estiloDerecha" colspan="2">
					<p:commandButton styleClass="newButton" id="registrarFrm" value="Guardar" update="growlDialogo,gridModal" action="#{horarioControlador.registrarPermiso()}"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

<p:dialog id="dlgInicioPeriodo" header="Iniciar Período Académico" widgetVar="dialogoInicioPeriodo" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false">
	<h:form id="frmDialogoInicioPeriodo">
		<p:growl id="growlDialogo" life="2000" />
		<p:panelGrid id="gridModal">
			<p:row>
				<p:column>
					<p:outputLabel for="codigo" value="Código:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="codigo" value="#{horarioControlador.horarioBB.codigoPeriodo}" required="true" />
				</p:column>
			</p:row>

			<p:row>
				<p:column>
					<p:outputLabel for="descripcion" value="Descripción:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="descripcion" value="#{horarioControlador.horarioBB.descripcionPeriodo}" required="true" />
				</p:column>
			</p:row>


			<p:row>
				<p:column styleClass="estiloDerecha" colspan="2">
					<p:commandButton styleClass="newButton" id="registrarFrm" value="Guardar" update="@all" action="#{horarioControlador.iniciarPeriodo()}"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

<p:dialog id="dlgReasignacion" header="Reasignar Horas" widgetVar="dialogoReasignacion" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false">
	<h:form id="frmDialogoReasignacion">
		<p:growl id="growlDialogo" life="2000" />
		<p:panelGrid id="gridModal">
			<p:row>
				<p:column>
					<p:outputLabel for="persona" value="Alumno:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:selectOneMenu id="persona" value="#{horarioControlador.horarioBB.idPersona}" required="true" filter="true" filterMatchMode="contains">
						<f:selectItems value="#{horarioControlador.horarioBB.listaCompletaPersona}"></f:selectItems>
					</p:selectOneMenu>
				</p:column>
			</p:row>

			<p:row>
				<p:column>
					<p:outputLabel for="diaReasignado" value="Dia Reasignado:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:calendar id="diaReasignado" value="#{horarioControlador.horarioBB.diaReasignado}" pattern="dd-MM-yyyy" locale="es" navigator="true"/>
				</p:column>
			</p:row>

			<p:row>
				<p:column>
					<p:outputLabel for="horaEntrada" value="Hora Entrada:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:calendar id="horaEntrada" value="#{horarioControlador.horarioBB.horaEntrada}" pattern="HH:mm" timeOnly="true" required="true" />
				</p:column>
			</p:row>

			<p:row>
				<p:column>
					<p:outputLabel for="horaSalida" value="Hora Salida:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:calendar id="horaSalida" value="#{horarioControlador.horarioBB.horaSalida}" pattern="HH:mm" timeOnly="true" required="true" />
				</p:column>
			</p:row>

			<p:row>
				<p:column styleClass="estiloDerecha" colspan="2">
					<p:commandButton styleClass="newButton" id="registrarFrm" value="Guardar" update="@form" action="#{horarioControlador.registrarReasignacion()}"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

</html>
