<!DOCTYPE html>
<ui:composition template="/templates/layout.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

	<!-- Título de la página -->
	<ui:define name="tituloPagina">
		<h:outputLabel value="Personas" styleClass="headerPagina"></h:outputLabel>
	</ui:define>

	<!-- Contenido de la página -->
	<ui:define name="contenido">
		<h:form id="frmDatatable">
			<p:commandButton id="btnNuevo" value="Nuevo" icon="fa fa-floppy-o" update=":dlgCrud, :frmDialogo" styleClass="newButton marginNewButton" action="#{personaControlador.abrirModal}" title="Agregar nueva persona">
				<f:setPropertyActionListener value="Agregar nuevo" target="#{personaControlador.personaBB.textoDialogo}"></f:setPropertyActionListener>
				<f:setPropertyActionListener value="#{true}" target="#{personaControlador.personaBB.isNuevo}"></f:setPropertyActionListener>
			</p:commandButton>
			<p:growl id="growlDatatable" life="2000" />
			<p:dataTable id="dtPersona" var="persona" value="#{personaControlador.personaBB.listaPersonas}" rowIndexVar="index" styleClass="lista" paginator="true" paginatorPosition="bottom" rows="15" rowsPerPageTemplate="15,20,25">
				<!-- Header de la tabla: -->
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText="#" width="5%" />
						<p:column headerText="Número de Identificación" width="15%" filterBy="#{persona.numeroIdentificacion}" filterMatchMode="contains" />
						<p:column headerText="Nombres" width="20%" filterBy="#{persona.nombre}" filterMatchMode="contains" />
						<p:column headerText="Apellidos" width="20%" filterBy="#{persona.apellido}" filterMatchMode="contains" />
						<p:column headerText="Usuario PUCE" filterBy="#{persona.identificacionPuce}" filterMatchMode="contains" />
						<p:column headerText="Estado" width="10%" />
						<p:column headerText="Acciones" width="12%" />
					</p:row>
				</p:columnGroup>

				<!-- Cuerpo de la tabla: -->
				<p:column>
					<h:outputText value="#{index + 1}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{persona.numeroIdentificacion}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{persona.nombre}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{persona.apellido}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{persona.identificacionPuce}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{persona.estado? 'Activo' : 'Inactivo'}"></h:outputText>
				</p:column>
				<p:column>
					<p:commandButton id="btnEditar" icon="fa fa-pencil" update=":dlgCrud" styleClass="editButton" action="#{personaControlador.abrirModal}" title="Editar persona">
						<f:setPropertyActionListener value="Editar" target="#{personaControlador.personaBB.textoDialogo}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{false}" target="#{personaControlador.personaBB.isNuevo}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{persona}" target="#{personaControlador.personaBB.persona}"></f:setPropertyActionListener>
					</p:commandButton>
					<p:commandButton id="btnActivarDesactivar" icon="fa fa-power-off" update=":dlgActivarDesactivar,frmDatatable:growlDatatable" styleClass="#{personaControlador.personaBB.activarDesactivar(persona.estado)}" oncomplete="PF('dialogoConfirmacion').show();" title="#{persona.estado? 'Desactivar' : 'Activar'} persona">
						<f:setPropertyActionListener value="#{persona.estado? 'desactivar' : 'activar'}" target="#{personaControlador.personaBB.textoActivarDesactivar}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{persona}" target="#{personaControlador.personaBB.persona}"></f:setPropertyActionListener>
					</p:commandButton>
					<p:commandButton id="btnGenerarUsuario" icon="fa fa-send" update=":dlgGenerarUsuario,frmDatatable:growlDatatable" styleClass="newButton" oncomplete="PF('dialogoGeneracionCorreo').show();" title="Generar usuario" disabled="#{persona.tieneUsuario || !personaControlador.sesionBB.codigoPerfil.equals('TIP_PER_DOC')}">
						<f:setPropertyActionListener value="#{persona}" target="#{personaControlador.personaBB.persona}"></f:setPropertyActionListener>
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
		<ui:include src="modal.xhtml" />
	</ui:define>
</ui:composition>
