<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<p:dialog id="dlgCrud" header="#{personaControlador.personaBB.textoDialogo} tipo de catálogo" widgetVar="dialogoCrud" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false">
	<h:form id="frmDialogo">
		<p:growl id="growlDialogo" life="2000" />
		<p:panelGrid id="gridModal">
			<p:row>
				<p:column>
					<p:outputLabel for="tipoIdentificacion" value="Tipo Identificación:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:selectOneMenu id="tipoIdentificacion" value="#{personaControlador.personaBB.idTipoIdentificacion}" required="true" disabled="#{!personaControlador.personaBB.isNuevo}">
						<f:selectItems value="#{personaControlador.personaBB.listaTiposIdentificacion}"></f:selectItems>
					</p:selectOneMenu>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="numeroIdentificacion" value="Número de Identificación:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="numeroIdentificacion" value="#{personaControlador.personaBB.persona.numeroIdentificacion}" required="true" maxlength="10" />
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="nombre" value="Nombre:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="nombre" value="#{personaControlador.personaBB.persona.nombre}" required="true" maxlength="200" />
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="apellido" value="Apellido:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="apellido" value="#{personaControlador.personaBB.persona.apellido}" required="true" maxlength="200" />
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="genero" value="Genero:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:selectOneMenu id="genero" value="#{personaControlador.personaBB.idGenero}">
						<f:selectItems value="#{personaControlador.personaBB.listaGeneros}"></f:selectItems>
					</p:selectOneMenu>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="fechaNacimiento" value="Fecha de Nacimiento:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:calendar id="fechaNacimiento" value="#{personaControlador.personaBB.persona.fechaNacimiento}" pattern="dd-MM-yyyy" locale="es" navigator="true"></p:calendar>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="identificacionPuce" value="Usuario PUCE:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="identificacionPuce" value="#{personaControlador.personaBB.persona.identificacionPuce}" required="true" maxlength="100">
						<p:ajax event="change" listener="#{personaControlador.colocarMail}" update="correoInstitucional"></p:ajax>
					</p:inputText>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="correoInstitucional" value="Correo Institucional:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="correoInstitucional" value="#{personaControlador.personaBB.persona.correoInstitucional}" required="true" maxlength="500" />
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="correoPersonal" value="Correo Personal:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="correoPersonal" value="#{personaControlador.personaBB.persona.correoPersonal}" maxlength="500" />
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="perfil" value="Perfil:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:selectOneMenu id="perfil" value="#{personaControlador.personaBB.idPerfil}" required="true">
						<f:selectItems value="#{personaControlador.personaBB.listaPerfiles}"></f:selectItems>
					</p:selectOneMenu>
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="2" styleClass="estiloDerecha">
					<p:commandButton styleClass="#{personaControlador.personaBB.isNuevo ? 'newButton' : 'editButton'}" id="guardarFrm" value="Guardar" update="growlDialogo,gridModal,:frmDatatable" action="#{personaControlador.guardar()}"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

<p:dialog id="dlgActivarDesactivar" header="Activar/Desactivar registro" widgetVar="dialogoConfirmacion" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false" width="25%">
	<h:form id="frmDialogoConfirmacion">
		<p:panelGrid id="gridModalConfirmacion">
			<p:row>
				<p:column colspan="2">
					<h:outputText value="¿Estás seguro de #{personaControlador.personaBB.textoActivarDesactivar} el registro?"></h:outputText>
				</p:column>
			</p:row>
			<p:row>
				<p:column styleClass="estiloCentrado">
					<p:commandButton styleClass="onButton" value="Si" update=":frmDatatable" action="#{personaControlador.activarDesactivarRegistro}" oncomplete="PF('dialogoConfirmacion').hide();"></p:commandButton>
				</p:column>
				<p:column styleClass="estiloCentrado">
					<p:commandButton styleClass="offButton" value="No" oncomplete="PF('dialogoConfirmacion').hide();"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

<p:dialog id="dlgGenerarUsuario" header="Generación de Usuario" widgetVar="dialogoGeneracionCorreo" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false" width="25%">
	<h:form id="frmDialogoGeneracionUsuario">
		<p:panelGrid id="gridModalGeneracionUsuario">
			<p:row>
				<p:column colspan="2">
					<h:outputText value="¿Estás seguro de generar el usuario para esta persona?"></h:outputText>
				</p:column>
			</p:row>
			<p:row>
				<p:column styleClass="estiloCentrado">
					<p:commandButton styleClass="onButton" value="Si" update=":frmDatatable" action="#{personaControlador.generarUsuario()}" oncomplete="PF('dialogoGeneracionCorreo').hide();"></p:commandButton>
				</p:column>
				<p:column styleClass="estiloCentrado">
					<p:commandButton styleClass="offButton" value="No" oncomplete="PF('dialogoGeneracionCorreo').hide();"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

</html>
