<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Sistema de Control de Asistencia - LTIC</title>
	<h:outputStylesheet name="mainStyle.css" library="css" />
	<h:outputStylesheet name="scaStyle.css" library="css" />
	<h:outputStylesheet name="iconStyle.css" library="css" />
	<h:outputScript name="sca.js" library="js" />
</h:head>

<h:body>

	<h:form id="frmUserOptions">
		<div class="userOptions">
			<h:outputText value="#{menuControlador.sesionBB.usuario.persona.nombre} (#{menuControlador.sesionBB.username})" style="margin-right: 2%;" />
			<p:commandLink action="#{menuControlador.preconfigurarCambioClave()}" update="dlgCambioClave">
				<i class="fa fa-key"></i>
				<h:outputText value="Cambiar Clave" />
			</p:commandLink>
			<p:commandLink action="#{menuControlador.logout()}">
				<i class="fa fa-sign-out"></i>
				<h:outputText value="Salir" />
			</p:commandLink>
		</div>
	</h:form>
	<div class="content">
		<div class="menu">
			<ui:include src="menu.xhtml"></ui:include>
		</div>
		<div class="mainContent">
			<h2 class="titlePage">
				<ui:insert name="tituloPagina"></ui:insert>
			</h2>
			<ui:insert name="contenido"></ui:insert>
			<div id="visorReporte" class="modalReporte">
				<div class="modalbox resize">
					<h:form>
						<p:commandLink action="#{reporteControlador.regresoPagina()}" title="Cerrar" styleClass="close" value="X" />
					</h:form>
					<a href="#excelExport" title="Exportar Excel" class="excelExport"> <img src='#{facesContext.externalContext.requestContextPath}/img/excel.png' border='0' width="22" height="22" style="border-radius: 3px; border: 2px solid white;" onclick="exportarReporteExcel();" /></a> <a href="#wordExport" title="Exportar Word" class="wordExport"> <img src='#{facesContext.externalContext.requestContextPath}/img/word.png' border='0' width="22" height="22" style="border-radius: 3px; border: 2px solid white;" onclick="exportarReporteWord();" /></a> <span class="logFaviconSigVisorReporte"></span>
					<div align="center">
						<strong>VISOR DE REPORTES</strong>
					</div>
					<div id="divReporte"></div>
				</div>
			</div>
		</div>
	</div>

	<p:dialog id="dlgCambioClave" header="Cambio de clave" widgetVar="dialogoCambioClave" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false">
		<h:form id="frmCambioClave">
			<p:growl id="growlCambioClave" life="2000" />
			<p:panelGrid id="gridModal">

				<p:row>
					<p:column>
						<p:outputLabel for="oldPassword" value="Actual" styleClass="estiloLabel" />
					</p:column>
					<p:column>
						<p:password id="oldPassword" value="#{menuControlador.sesionBB.oldPassword}" required="true" maxlength="20" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:outputLabel for="newPassword" value="Nueva" styleClass="estiloLabel" />
					</p:column>
					<p:column>
						<p:password id="newPassword" value="#{menuControlador.sesionBB.newPassword}" required="true" maxlength="20" />
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="2" styleClass="estiloDerecha">
						<p:commandButton styleClass="newButton" id="guardarFrm" value="Guardar" update="growlCambioClave,gridModal" action="#{menuControlador.cambiarClave()}"></p:commandButton>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
	</p:dialog>


</h:body>

</html>
