<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Sistema de Control de Asistencia - LTIC</title>
	<h:outputStylesheet name="loginStyle.css" library="css" />
	<h:outputStylesheet name="scaStyle.css" library="css" />
</h:head>

<h:body>

	<div class="content">
		<div class="assistance">
			<ui:insert name="asistenciaManual"></ui:insert>
		</div>
		<div class="login">
			<img src="/ScaIngenieria/img/login.png" width="60%"></img>
			<ui:insert name="contenido"></ui:insert>
		</div>
	</div>
	
	<p:dialog id="dlgRecuperarClave" header="Recuperar clave" widgetVar="dialogoRecuperarClave" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false">
		<h:form id="frmRecuperarClave">
			<p:growl id="growlRecuperarClave" life="2000" />
			<p:panelGrid id="gridModal">

				<p:row>
					<p:column>
						<p:outputLabel for="username" value="Usuario" styleClass="estiloLabel" />
					</p:column>
					<p:column>
						<p:inputText id="username" value="#{loginControlador.sesionBB.usernameRecovery}" required="true" />
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="2" styleClass="estiloDerecha">
						<p:commandButton styleClass="newButton" id="guardarFrm" value="Guardar" update="@all" action="#{loginControlador.recuperarClave()}"></p:commandButton>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
	</p:dialog>

</h:body>

</html>
