<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

	<img src="/ScaIngenieria/img/bannerIngenieria2.jpg" width="100%"></img>

	<h:form id="frmMenu">
		<p:idleMonitor timeout="300000">
			<p:ajax event="idle" listener="#{menuControlador.logout()}"></p:ajax>
		</p:idleMonitor>
		<p:repeat value="#{menuControlador.sesionBB.menu}" var="menu">
			<div class="menuTitle">
				<p:outputLabel value="#{menu.nombrePagina}" />
			</div>
			<p:repeat value="#{menu.opcionesMenu}" var="submenu">
				<div class="menuLink">
					<i class="fa #{submenu.icono}"></i>
					<p:commandLink action="#{menuControlador.goPage(submenu.url_pagina)}">
						<h:outputText value="#{submenu.nombrePagina}" />
					</p:commandLink>
				</div>
			</p:repeat>
		</p:repeat>
	</h:form>

</ui:composition>