<!DOCTYPE html>
<ui:composition template="/templates/layout.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

	<!-- Título de la página -->
	<ui:define name="tituloPagina">
		<h:outputLabel value="Catálogos" styleClass="headerPagina"></h:outputLabel>
	</ui:define>

	<!-- Contenido de la página -->
	<ui:define name="contenido">
		<h:form id="frmDatatable">
			<p:commandButton id="btnNuevo" value="Nuevo" icon="fa fa-floppy-o" update=":dlgCrud" styleClass="newButton marginNewButton" action="#{catalogoControlador.abrirModal}" title="Agregar nuevo catálogo">
				<f:setPropertyActionListener value="Agregar nuevo" target="#{catalogoControlador.catalogoBB.textoDialogo}"></f:setPropertyActionListener>
				<f:setPropertyActionListener value="#{true}" target="#{catalogoControlador.catalogoBB.isNuevo}"></f:setPropertyActionListener>
			</p:commandButton>
			<p:growl id="growlDatatable" life="2000" />
			<p:dataTable id="dtCatalogo" var="catalogo" value="#{catalogoControlador.catalogoBB.listaCatalogos}" rowIndexVar="index" styleClass="lista" paginator="true" paginatorPosition="bottom" rows="15" rowsPerPageTemplate="15,20,25">
				<!-- Header de la tabla: -->
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText="#" width="5%" />
						<p:column headerText="Código" width="15%" filterBy="#{catalogo.codigo}" filterMatchMode="contains" />
						<p:column headerText="Nombre" width="25%" filterBy="#{catalogo.nombre}" filterMatchMode="contains" />
						<p:column headerText="Descripción" filterBy="#{catalogo.descripcion}" filterMatchMode="contains" />
						<p:column headerText="Tipo Catálogo" width="20%" filterBy="#{catalogo.tipoCatalogo.nombre}" filterMatchMode="contains" />
						<p:column headerText="Estado" width="10%" />
						<p:column headerText="Acciones" width="12%" />
					</p:row>
				</p:columnGroup>

				<!-- Cuerpo de la tabla: -->
				<p:column>
					<h:outputText value="#{index + 1}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{catalogo.codigo}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{catalogo.nombre}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{catalogo.descripcion}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{catalogo.tipoCatalogo.nombre}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{catalogo.estado? 'Activo' : 'Inactivo'}"></h:outputText>
				</p:column>
				<p:column>
					<p:commandButton id="btnEditar" icon="fa fa-pencil" update=":dlgCrud" styleClass="editButton" action="#{catalogoControlador.abrirModal}" title="Editar catálogo">
						<f:setPropertyActionListener value="Editar" target="#{catalogoControlador.catalogoBB.textoDialogo}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{false}" target="#{catalogoControlador.catalogoBB.isNuevo}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{catalogo}" target="#{catalogoControlador.catalogoBB.catalogo}"></f:setPropertyActionListener>
					</p:commandButton>
					<p:commandButton id="btnActivarDesactivar" icon="fa fa-power-off" update=":dlgActivarDesactivar,frmDatatable:growlDatatable" styleClass="#{catalogoControlador.catalogoBB.activarDesactivar(catalogo.estado)}" oncomplete="PF('dialogoConfirmacion').show();" title="#{tipoCatalogo.estado? 'Desactivar' : 'Activar'} catálogo">
						<f:setPropertyActionListener value="#{catalogo.estado? 'desactivar' : 'activar'}" target="#{catalogoControlador.catalogoBB.textoActivarDesactivar}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{catalogo}" target="#{catalogoControlador.catalogoBB.catalogo}"></f:setPropertyActionListener>
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
		<ui:include src="modal.xhtml" />
	</ui:define>
</ui:composition>
