<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<p:dialog id="dlgCrud" header="#{catalogoControlador.catalogoBB.textoDialogo} catálogo" widgetVar="dialogoCrud" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false">
	<h:form id="frmDialogo">
		<p:growl id="growlDialogo" life="2000" />
		<p:panelGrid id="gridModal">
			<p:row>
				<p:column>
					<p:outputLabel for="tipoCatalogo" value="Tipo Catálogo:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:selectOneMenu id="tipoCatalogo" value="#{catalogoControlador.catalogoBB.idTipoCatalogo}" required="true" disabled="#{!catalogoControlador.catalogoBB.isNuevo}">
						<f:selectItems value="#{catalogoControlador.catalogoBB.listaTiposCatalogos}"></f:selectItems>
					</p:selectOneMenu>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="codigo" value="Código:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="codigo" value="#{catalogoControlador.catalogoBB.catalogo.codigo}" required="true" disabled="#{!catalogoControlador.catalogoBB.isNuevo}" maxlength="20"/>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="nombre" value="Nombre:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<p:inputText id="nombre" value="#{catalogoControlador.catalogoBB.catalogo.nombre}" required="true" maxlength="250"/>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:outputLabel for="descripcion" value="Descripción:" styleClass="estiloLabel" />
				</p:column>
				<p:column>
					<div>
						<p:inputTextarea id="descripcion" value="#{catalogoControlador.catalogoBB.catalogo.descripcion}" maxlength="500" counter="contadorDescripcion" counterTemplate="{0} caracteres restantes."></p:inputTextarea>
					</div>
					<p:outputLabel id="contadorDescripcion" styleClass="counterTextArea" />
				</p:column>
			</p:row>

			<p:row>
				<p:column colspan="2" styleClass="estiloDerecha">
					<p:commandButton styleClass="#{catalogoControlador.catalogoBB.isNuevo ? 'newButton' : 'editButton'}" id="guardarFrm" value="Guardar" update="growlDialogo,gridModal,:frmDatatable" action="#{catalogoControlador.guardar()}"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

<p:dialog id="dlgActivarDesactivar" header="Activar/Desactivar registro" widgetVar="dialogoConfirmacion" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false" width="25%">
	<h:form id="frmDialogoConfirmacion">
		<p:panelGrid id="gridModalConfirmacion">
			<p:row>
				<p:column colspan="2">
					<h:outputText value="¿Estás seguro de #{catalogoControlador.catalogoBB.textoActivarDesactivar} el registro?"></h:outputText>
				</p:column>
			</p:row>
			<p:row>
				<p:column styleClass="estiloCentrado">
					<p:commandButton styleClass="onButton" value="Si" update=":frmDatatable" action="#{catalogoControlador.activarDesactivarRegistro()}" oncomplete="PF('dialogoConfirmacion').hide();"></p:commandButton>
				</p:column>
				<p:column styleClass="estiloCentrado">
					<p:commandButton styleClass="offButton" value="No" oncomplete="PF('dialogoConfirmacion').hide();"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

</html>
