<!DOCTYPE html>
<ui:composition template="/templates/layout.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

	<!-- Título de la página -->
	<ui:define name="tituloPagina">
		<h:outputLabel value="Calculo de las Horas de Ayudantía" styleClass="headerPagina"></h:outputLabel>
	</ui:define>

	<!-- Contenido de la página -->
	<ui:define name="contenido">
		<h:form id="frmDatatable">
			<div align="right">
				<p:growl id="growlReport"></p:growl>
				<p:panelGrid id="gridReport">
					<p:row>
						<p:column>
							<p:selectOneMenu id="periodos" value="#{reporteControlador.reporteBB.periodo}" required="true">
								<f:selectItems value="#{calculoHorasAyudantiaControlador.calculoHorasAyudantiaBB.periodos}"></f:selectItems>
							</p:selectOneMenu>
						</p:column>
						<p:column>
							<p:commandButton title="Generar Reporte" icon="fa fa-print" action="#{reporteControlador.generarReporte()}" update="growlReport">
								<f:setPropertyActionListener value="certificado_horas_cumplidas.rptdesign" target="#{reporteControlador.reporteBB.reporte}" />
								<f:setPropertyActionListener value="Certificado de ayudantía/becaría" target="#{reporteControlador.reporteBB.titulo}" />
								<f:setPropertyActionListener value="reporte/calculoHorasAyudantia.xhtml" target="#{reporteControlador.reporteBB.paginaPrevia}" />
							</p:commandButton>
						</p:column>
					</p:row>
				</p:panelGrid>
			</div>
			<p:dataTable id="dtReporte" var="reporte" value="#{calculoHorasAyudantiaControlador.calculoHorasAyudantiaBB.reporte}" rowIndexVar="index" styleClass="lista" paginator="true" paginatorPosition="bottom" rows="15" rowsPerPageTemplate="15,20,25" widgetVar="dtReporte">
				<!-- Header de la tabla: -->
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText="#" width="5%" />
						<p:column headerText="Tipo de Identificación" width="11%" filterBy="#{reporte.tipoIdentificacion}" filterMatchMode="contains" />
						<p:column headerText="Número de Identificación" width="11%" filterBy="#{reporte.numeroIdentificacion}" filterMatchMode="contains" />
						<p:column headerText="Nombre Completo" filterBy="#{reporte.nombreCompleto}" filterMatchMode="contains" />
						<p:column headerText="Identificación PUCE" width="11%" filterBy="#{reporte.identificacionPuce}" filterMatchMode="contains" />
						<p:column headerText="Periodo Actual" width="11%" filterBy="#{reporte.periodoActualNombre}" filterMatchMode="contains" />
						<p:column headerText="Horas de Asistencia" width="10%" />
						<p:column headerText="Horas en Certificado" width="10%" />
					</p:row>
				</p:columnGroup>

				<!-- Cuerpo de la tabla: -->
				<p:column>
					<h:outputText value="#{index + 1}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{reporte.tipoIdentificacion}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{reporte.numeroIdentificacion}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{reporte.nombreCompleto}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{reporte.identificacionPuce}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{reporte.periodoActualNombre}"></h:outputText>
				</p:column>
				<p:column style="text-align: right !important;">
					<h:outputText value="#{reporte.horasAsistencia}"></h:outputText>
				</p:column>
				<p:column style="text-align: right !important;">
					<h:outputText value="#{reporte.horasCertificado}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
