.noneButton {
	color: white !important;
	background: none !important;
	border: 1px solid white !important;
}

.newButton {
	color: rgba(22, 139, 232, 0.8) !important;
	background: white !important;
	border: 1px solid rgba(22, 139, 232, 0.8) !important;
}

.newButton.ui-state-disabled:HOVER {
	color: rgba(22, 139, 232, 0.8) !important;
	background: white !important;
	border: 1px solid rgba(22, 139, 232, 0.8) !important;
}

.newButton:HOVER {
	color: white !important;
	background: rgba(22, 139, 232, 0.8) !important;
	border: 1px solid rgba(22, 139, 232, 0.8) !important;
}

.marginNewButton {
	margin-bottom: 10px;
}

.editButton {
	color: rgba(255, 193, 0, 0.8) !important;
	background: white !important;
	border: 1px solid rgba(255, 193, 0, 0.8) !important;
}

.editButton.ui-state-disabled:HOVER {
	color: rgba(255, 193, 0, 0.8) !important;
	background: white !important;
	border: 1px solid rgba(255, 193, 0, 0.8) !important;
}

.editButton:HOVER {
	color: white !important;
	background: rgba(255, 193, 0, 0.8) !important;
	border: 1px solid rgba(255, 193, 0, 0.8) !important;
}

.offButton {
	color: rgba(228, 26, 26, 0.8) !important;
	background: white !important;
	border: 1px solid rgba(228, 26, 26, 0.8) !important;
}

.offButton.ui-state-disabled:HOVER {
	color: rgba(228, 26, 26, 0.8) !important;
	background: white !important;
	border: 1px solid rgba(228, 26, 26, 0.8) !important;
}

.offButton:HOVER {
	color: white !important;
	background: rgba(228, 26, 26, 0.8) !important;
	border: 1px solid rgba(228, 26, 26, 0.8) !important;
}

.onButton {
	color: rgba(34, 184, 11, 0.8) !important;
	background: white !important;
	border: 1px solid rgba(34, 184, 11, 0.8) !important;
}

.onButton.ui-state-disabled:HOVER {
	color: rgba(34, 184, 11, 0.8) !important;
	background: white !important;
	border: 1px solid rgba(34, 184, 11, 0.8) !important;
}

.onButton:HOVER {
	color: white !important;
	background: rgba(34, 184, 11, 0.8) !important;
	border: 1px solid rgba(34, 184, 11, 0.8) !important;
}