html, body {
	background-color: #F3F3F3;
}

.content {
	border: 1px solid #888888;
	border-top: 10px solid #3F9F42;
	position: fixed;
	top: 10px;
	left: 1%;
	bottom: 15px;
	right: 1%;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 5px #808080;
}

.assistance {
	float: left;
	width: 75%;
	padding-top: 10%;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 0px;
	bottom: 0px;
	overflow: auto;
}

.login {
	float: right;
	width: 25%;
	padding-top: 5%;
	text-align: center;
	border-left: 1px solid #888888;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 75%;
	overflow: auto;
}

.form-group {
	text-align: left;
	padding: 0 12.5%;
}

.form-group.center {
	text-align: center;
}

.form-group.right {
	text-align: right;
	font-size: 0.75em;
}

.form-group input {
	width: 100%;
}

.form-group button.ui-button {
	border: 1px solid #267A28;
	background: #3F9F42;
}