html, body {
	background-color: #F3F3F3;
}

.content {
	border: 1px solid #888888;
	border-top: 10px solid #3F9F42;
	position: fixed;
	top: 30px;
	left: 1%;
	bottom: 15px;
	right: 1%;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 5px #808080;
}

h2.titlePage {
	color: #3F9F42;
	font-size: 2em;
}

.menu {
	float: left;
	width: 18%;
	padding-top: 20px;
	text-align: center;
	border-right: 1px solid #888888;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 1%;
	overflow: auto;
}

.menu form {
	text-align: left;
}

.menuLink {
	padding: 0 3%;
	margin: 2% 0;
}

.menuTitle {
	margin-top: 7.5%;
}

.menuTitle label {
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
	color: #3F9F42;
}

.menuLink i {
	width: 10%;
}

.menuLink a, .menuLink {
	color: #B2B21D;
}

.mainContent {
	float: right;
	width: 79%;
	padding-left: 10px;
	padding-right: 1%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 19%;
	overflow: auto;
}

.userOptions {
	text-align: right;
}

.userOptions a {
	color: #B2B21D;
	margin-right: 1%;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #3F9F42;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #3F9F42;
}