.form-group {
	margin-bottom: 15px;
}

.ui-dialog-titlebar {
	padding-left: 36px !important;
	margin-left: 0px !important;
	padding-right: 26.4px !important;
	margin-right: 0px !important;
	border-bottom: 1px solid #D5D5D5 !important;
}

.ui-dialog-title {
	color: #3F9F42 !important;
}

.ui-dialog-footer {
	padding-left: 36px !important;
	margin-left: 0px !important;
	padding-right: 26.4px !important;
	margin-right: 0px !important;
	text-align: right !important;
}

.ui-dialog-content table.ui-panelgrid {
	margin: auto !important;
}

table thead tr th.ui-filter-column {
	vertical-align: bottom !important;
}

table.ui-panelgrid tr, table.ui-panelgrid tr td {
	border: none !important;
	vertical-align: top !important;
}

table tr td, table th td {
	word-wrap: break-word !important;
}

.estiloCentrado {
	text-align: center;
}

.estiloDerecha {
	text-align: right;
}

.estiloLabel {
	color: #3F9F42;
}

.counterTextArea {
	color: #D5D5D5 !important;
	font-size: 12px !important;
	font-style: italic !important;
}

.lista table>tbody>tr>td {
	font-size: 12px !important;
	text-align: left !important;
}

.lista table>tbody>tr>td:FIRST-CHILD {
	text-align: center !important;
}

.lista table>tbody>tr>td:LAST-CHILD {
	text-align: right !important;
}

.ui-dialog-titlebar-close {
	position: absolute !important;
	right: 10px !important;
	top: -10px !important;
}

.horario table>tbody>tr>td {
	font-size: 12px !important;
	text-align: center !important;
}

.ui-column-filter {
	font-size: 8px !important;
	width: 75% !important;
}

/* PARA LA SECCIÓN DE REPORTES */
.modalReporte {
	position: fixed !important;
	font-family: Arial, sans-serif !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: rgba(0, 0, 0, 0.8) !important;
	z-index: 99999 !important;
	opacity: 0 !important;
	pointer-events: none !important;
}

.modalReporte:target {
	opacity: 1 !important;
	pointer-events: auto !important;
}

.modalbox {
	width: 400px !important;
	position: relative !important;
	padding: 5px 20px 13px 20px !important;
	background: #fff !important;
	border-radius: 3px !important;
	overflow-y: auto !important;
}

.resize {
	margin: 2% auto !important;
	width: 0 !important;
	height: 0 !important;
}

.modalReporte:target .resize {
	width: 80% !important;
	height: 90% !important;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 1px;
	text-align: center;
	top: 1px;
	width: 22px;
	height: 23px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 3px;
	border: 2px solid white;
	font-size: 19px;
}

.close:hover {
	background: #FAAC58;
	color: #222;
	text-decoration: none;
}

.excelExport {
	line-height: 25px;
	position: absolute;
	right: 27px;
	text-align: center;
	top: 1px;
	width: 24px;
	text-decoration: none;
}

.excelExport:hover {
	background: #FAAC58;
	color: #222;
	text-decoration: none;
}

.wordExport {
	line-height: 25px;
	position: absolute;
	right: 51px;
	text-align: center;
	top: 1px;
	width: 24px;
	text-decoration: none;
}

.wordExport:hover {
	background: #FAAC58;
	color: #222;
	text-decoration: none;
}

#divReporte {
	height: 95%;
}

.logFaviconSigVisorReporte {
	background-repeat: no-repeat;
	background-size: 100%;
	line-height: 25px;
	position: absolute;
	right: 40%;
	text-align: center;
	top: 1px;
	width: 20px;
	border-radius: 3px;
	height: 19px;
}

.horario-list .ui-datalist-content {
	border: none;
	background: none;
}

.horario-list .ui-datalist-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.horario-list .ui-datalist-content ul li {
	text-align: left;
}