<!DOCTYPE html>
<ui:composition template="/templates/layout.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

	<!-- Título de la página -->
	<ui:define name="tituloPagina">
		<h:outputLabel value="Usuarios" styleClass="headerPagina"></h:outputLabel>
	</ui:define>

	<!-- Contenido de la página -->
	<ui:define name="contenido">
		<h:form id="frmDatatable">
			<p:growl id="growlDatatable" life="2000" />
			<p:dataTable id="dtPersona" var="usuario" value="#{usuarioControlador.usuarioBB.listaUsuarios}" rowIndexVar="index" styleClass="lista" paginator="true" paginatorPosition="bottom" rows="15" rowsPerPageTemplate="15,20,25">
				<!-- Header de la tabla: -->
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText="#" width="5%" />
						<p:column headerText="Nombre de usuario" width="25%" filterBy="#{usuario.usuario}" filterMatchMode="contains" />
						<p:column headerText="Nombres" width="25%" filterBy="#{usuario.persona.nombre}" filterMatchMode="contains" />
						<p:column headerText="Apellidos" width="25%" filterBy="#{usuario.persona.apellido}" filterMatchMode="contains" />
						<p:column headerText="Estado" width="10%" />
						<p:column headerText="Acciones" width="12%" />
					</p:row>
				</p:columnGroup>

				<!-- Cuerpo de la tabla: -->
				<p:column>
					<h:outputText value="#{index + 1}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{usuario.usuario}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{usuario.persona.nombre}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{usuario.persona.apellido}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{usuario.estado? 'Activo' : 'Inactivo'}"></h:outputText>
				</p:column>
				<p:column>
					<p:commandButton id="btnActivarDesactivar" icon="fa fa-power-off" update=":dlgActivarDesactivar,frmDatatable:growlDatatable" styleClass="#{usuarioControlador.usuarioBB.activarDesactivar(usuario.estado)}" oncomplete="PF('dialogoConfirmacion').show();" title="#{usuario.estado? 'Desactivar' : 'Activar'} usuario">
						<f:setPropertyActionListener value="#{usuario.estado? 'desactivar' : 'activar'}" target="#{usuarioControlador.usuarioBB.textoActivarDesactivar}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{usuario}" target="#{usuarioControlador.usuarioBB.usuario}"></f:setPropertyActionListener>
					</p:commandButton>
					<p:commandButton id="btnGenerarUsuario" icon="fa fa-send" update=":dlgGenerarUsuario,frmDatatable:growlDatatable" styleClass="newButton" oncomplete="PF('dialogoGeneracionCorreo').show();" title="Restablecer usuario">
						<f:setPropertyActionListener value="#{usuario}" target="#{usuarioControlador.usuarioBB.usuario}"></f:setPropertyActionListener>
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
		<ui:include src="modal.xhtml" />
	</ui:define>
</ui:composition>
