<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<p:dialog id="dlgActivarDesactivar" header="Activar/Desactivar registro" widgetVar="dialogoConfirmacion" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false" width="25%">
	<h:form id="frmDialogoConfirmacion">
		<p:panelGrid id="gridModalConfirmacion">
			<p:row>
				<p:column colspan="2">
					<h:outputText value="¿Estás seguro de #{usuarioControlador.usuarioBB.textoActivarDesactivar} el registro?"></h:outputText>
				</p:column>
			</p:row>
			<p:row>
				<p:column styleClass="estiloCentrado">
					<p:commandButton styleClass="onButton" value="Si" update=":frmDatatable" action="#{usuarioControlador.activarDesactivarRegistro}" oncomplete="PF('dialogoConfirmacion').hide();"></p:commandButton>
				</p:column>
				<p:column styleClass="estiloCentrado">
					<p:commandButton styleClass="offButton" value="No" oncomplete="PF('dialogoConfirmacion').hide();"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

<p:dialog id="dlgGenerarUsuario" header="Generación de Usuario" widgetVar="dialogoGeneracionCorreo" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false" width="25%">
	<h:form id="frmDialogoGeneracionUsuario">
		<p:panelGrid id="gridModalGeneracionUsuario">
			<p:row>
				<p:column colspan="2">
					<h:outputText value="¿Estás seguro de generar el usuario para esta persona?"></h:outputText>
				</p:column>
			</p:row>
			<p:row>
				<p:column styleClass="estiloCentrado">
					<p:commandButton styleClass="onButton" value="Si" update=":frmDatatable" action="#{usuarioControlador.generarUsuario()}" oncomplete="PF('dialogoGeneracionCorreo').hide();"></p:commandButton>
				</p:column>
				<p:column styleClass="estiloCentrado">
					<p:commandButton styleClass="offButton" value="No" oncomplete="PF('dialogoGeneracionCorreo').hide();"></p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</h:form>
</p:dialog>

</html>
