<!DOCTYPE html>
<ui:composition template="/templates/layoutLogin.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

	<ui:define name="asistenciaManual">
		<h1>
			<h:outputText value="Sistema de Control de Asistencia - LTIC" escape="false" />
		</h1>

		<h:form id="frmAsistencia" prependId="false">
			<p:panelGrid id="gridAsistencia" style="width: 90%;">
				<p:row>
					<p:column style="width: 20%;">
						<h:outputLabel for="identificacionPuce" value="Identificación PUCE" escape="false" />
					</p:column>
					<p:column style="width: 70%;">
						<p:inputText id="identificacionPuce" value="#{loginControlador.sesionBB.identificacionPuce}" required="true" style="width: 100%;" autocomplete="off" />
					</p:column>
					<p:column style="width: 10%">
						<p:commandButton value="registrar" action="#{loginControlador.crearCodigoVerificacion()}" update=":frmDialogoCodigo,messageAsistencia">
							<f:setPropertyActionListener value="" target="#{loginControlador.sesionBB.confirmarCodigo}" />
						</p:commandButton>
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:messages id="messageAsistencia" showDetail="false" closable="false" escape="false" />
		</h:form>
		<p:dialog id="dlgCodigo" header="Verificación 2Pasos" widgetVar="dialogoCodigo" closeOnEscape="true" resizable="false" modal="true" appendTo="@(body)" draggable="false">
			<h:form id="frmDialogoCodigo">
				<p:panelGrid id="gridModal">
					<p:row>
						<p:column>
							<p:inputText id="codigoVerificacion" value="#{loginControlador.sesionBB.confirmarCodigo}" />
						</p:column>
					</p:row>

					<p:row>
						<p:column styleClass="estiloDerecha">
							<p:commandButton styleClass="newButton" id="guardarFrm" value="Verificar" update=":frmAsistencia" action="#{loginControlador.registrarAsistencia()}"></p:commandButton>
						</p:column>
					</p:row>
				</p:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="contenido">
		<h:form id="frmLogin" prependId="false">
			<div class="form-group">
				<div>
					<p:outputLabel for="username" value="Usuario" escape="false" />
				</div>
				<div>
					<p:inputText id="username" value="#{loginControlador.sesionBB.username}" required="true" autocomplete="off" />
				</div>
				<div>
					<p:message for="username" display="text" escape="false" />
				</div>
			</div>
			<div class="form-group">
				<div>
					<p:outputLabel for="password" value="Contraseña" escape="false" />
				</div>
				<div>
					<p:password id="password" value="#{loginControlador.sesionBB.password}" required="true" autocomplete="off" />
				</div>
				<div>
					<p:message for="password" display="text" escape="false" />
				</div>
			</div>
			<div class="form-group center">
				<p:commandButton value="Ingresar" action="#{loginControlador.doLogin()}" update="frmLogin" escape="false" />
			</div>
			<div class="form-group right">
				<p:commandLink action="#{loginControlador.preconfigurarCambioClave()}" update=":frmRecuperarClave">
					<i class="fa fa-key"></i>
					<h:outputText value="Recuperar Clave" />
				</p:commandLink>
			</div>
		</h:form>
	</ui:define>

</ui:composition>