<!DOCTYPE html>
<ui:composition template="/templates/layout.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

	<!-- Título de la página -->
	<ui:define name="tituloPagina">
		<h:outputLabel value="Tipos de Catálogos" styleClass="headerPagina"></h:outputLabel>
	</ui:define>

	<!-- Contenido de la página -->
	<ui:define name="contenido">
		<h:form id="frmDatatable">
			<p:commandButton id="btnNuevo" value="Nuevo" icon="fa fa-floppy-o" update=":dlgCrud" styleClass="newButton marginNewButton" action="#{tipoCatalogoControlador.abrirModal}" title="Agregar nuevo tipo de catálogo">
				<f:setPropertyActionListener value="Agregar nuevo" target="#{tipoCatalogoControlador.tipoCatalogoBB.textoDialogo}"></f:setPropertyActionListener>
				<f:setPropertyActionListener value="#{true}" target="#{tipoCatalogoControlador.tipoCatalogoBB.isNuevo}"></f:setPropertyActionListener>
			</p:commandButton>
			<p:growl id="growlDatatable" life="2000" />
			<p:dataTable id="dtTipoCatalogo" var="tipoCatalogo" value="#{tipoCatalogoControlador.tipoCatalogoBB.listaTiposCatalogos}" rowIndexVar="index" styleClass="lista" paginator="true" paginatorPosition="bottom" rows="15" rowsPerPageTemplate="15,20,25">
				<!-- Header de la tabla: -->
				<p:columnGroup type="header">
					<p:row>
						<p:column headerText="#" width="5%" />
						<p:column headerText="Código" width="15%" filterBy="#{tipoCatalogo.codigo}" filterMatchMode="contains" />
						<p:column headerText="Nombre" width="25%" filterBy="#{tipoCatalogo.nombre}" filterMatchMode="contains" />
						<p:column headerText="Descripción" filterBy="#{tipoCatalogo.descripcion}" filterMatchMode="contains" />
						<p:column headerText="Estado" width="10%" />
						<p:column headerText="Acciones" width="12%" />
					</p:row>
				</p:columnGroup>

				<!-- Cuerpo de la tabla: -->
				<p:column>
					<h:outputText value="#{index + 1}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{tipoCatalogo.codigo}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{tipoCatalogo.nombre}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{tipoCatalogo.descripcion}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{tipoCatalogo.estado? 'Activo' : 'Inactivo'}"></h:outputText>
				</p:column>
				<p:column>
					<p:commandButton id="btnEditar" icon="fa fa-pencil" update=":dlgCrud" styleClass="editButton" action="#{tipoCatalogoControlador.abrirModal}" title="Editar tipo de catálogo">
						<f:setPropertyActionListener value="Editar" target="#{tipoCatalogoControlador.tipoCatalogoBB.textoDialogo}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{false}" target="#{tipoCatalogoControlador.tipoCatalogoBB.isNuevo}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{tipoCatalogo}" target="#{tipoCatalogoControlador.tipoCatalogoBB.tipoCatalogo}"></f:setPropertyActionListener>
					</p:commandButton>
					<p:commandButton id="btnActivarDesactivar" icon="fa fa-power-off" update=":dlgActivarDesactivar,frmDatatable:growlDatatable" styleClass="#{tipoCatalogoControlador.tipoCatalogoBB.activarDesactivar(tipoCatalogo.estado)}" oncomplete="PF('dialogoConfirmacion').show();" title="#{tipoCatalogo.estado? 'Desactivar' : 'Activar'} tipo de catálogo">
						<f:setPropertyActionListener value="#{tipoCatalogo.estado? 'desactivar' : 'activar'}" target="#{tipoCatalogoControlador.tipoCatalogoBB.textoActivarDesactivar}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="#{tipoCatalogo}" target="#{tipoCatalogoControlador.tipoCatalogoBB.tipoCatalogo}"></f:setPropertyActionListener>
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
		<ui:include src="modal.xhtml" />
	</ui:define>
</ui:composition>
