<!DOCTYPE html>
<ui:composition template="/templates/layout.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

	<!-- Título de la página -->
	<ui:define name="tituloPagina">
		<h:outputLabel value="Horarios" styleClass="headerPagina"></h:outputLabel>
	</ui:define>

	<!-- Contenido de la página -->
	<ui:define name="contenido">
		<h:form id="frmDatatable">
			<p:dataTable id="dtHorario" var="horario" value="#{horarioPorPersonaControlador.horarioBB.horario}" rowIndexVar="index" styleClass="horario">

				<!-- Header de la tabla: -->
				<p:columnGroup type="header">
					<p:row>
						<p:column colspan="2" headerText="Hora" />
						<p:column rowspan="2" headerText="Lunes" width="17%" />
						<p:column rowspan="2" headerText="Martes" width="17%" />
						<p:column rowspan="2" headerText="Miercoles" width="17%" />
						<p:column rowspan="2" headerText="Jueves" width="17%" />
						<p:column rowspan="2" headerText="Viernes" width="17%" />
					</p:row>
					<p:row>
						<p:column headerText="Entrada" />
						<p:column headerText="Salida" />
					</p:row>
				</p:columnGroup>

				<!-- Cuerpo de la tabla: -->
				<p:column>
					<h:outputText value="#{horario.horaEntrada}" />
				</p:column>
				<p:column>
					<h:outputText value="#{horario.horaSalida}" />
				</p:column>
				<p:column>
					<p:dataList value="#{horario.lunes}" var="horarioPersona" emptyMessage="..." styleClass="horario-list">
						<h:outputText value="#{horarioPersona.persona.nombreCompleto}" />
					</p:dataList>
				</p:column>
				<p:column>
					<p:dataList value="#{horario.martes}" var="horarioPersona" emptyMessage="..." styleClass="horario-list">
						<h:outputText value="#{horarioPersona.persona.nombreCompleto}" />
					</p:dataList>
				</p:column>
				<p:column>
					<p:dataList value="#{horario.miercoles}" var="horarioPersona" emptyMessage="..." styleClass="horario-list">
						<h:outputText value="#{horarioPersona.persona.nombreCompleto}" />
					</p:dataList>
				</p:column>
				<p:column>
					<p:dataList value="#{horario.jueves}" var="horarioPersona" emptyMessage="..." styleClass="horario-list">
						<h:outputText value="#{horarioPersona.persona.nombreCompleto}" />
					</p:dataList>
				</p:column>
				<p:column>
					<p:dataList value="#{horario.viernes}" var="horarioPersona" emptyMessage="..." styleClass="horario-list">
						<h:outputText value="#{horarioPersona.persona.nombreCompleto}" />
					</p:dataList>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
